.accordion-collapse{
    width: 94%;
    border: none;
    background-color: white;
    text-align: left;
    margin: 10px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion{
    margin-top: 20px;
}
i{
    font-size: 20px;
    margin: 5px;
}

.accordion-item{
    padding: 5px 10px;
}
