/*---------------------------------------------------------- start our-gallery  ---------------------------------------------------------------------------*/
.sec-our-gallery .col img {
    width: 100%;
    height: 50vh;
}
/*---------------------------------------------------------- end our-gallery  ---------------------------------------------------------------------------*/
