.sec-our-chefs {
    background-image: url(../img/section_bg.png);
    background-repeat: no-repeat;
}

.sec-our-chefs .card {
    border: 0;
    border-radius: 0;
}

.sec-our-chefs .card .content {
    border: 1px solid #ccc;
}

.sec-our-chefs .card .content h1 {
    color: #ff7f9f;
}

.sec-our-chefs .card .content i {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 50px;
    border-radius: 50%;
    color: #ff7f9f;
    justify-content: center;
    text-align: center;
    border: 1px solid #ff7f9f;
}

.sec-our-chefs .card .content i:hover {
    color: #fff;
    background-color: #ff7f9f;
}